<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{isRegistering ? 'Register' : 'Login'}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <form [formGroup]="userDetails" (ngSubmit)="onSubmit()">
    <ion-item class="auth-form-input">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="auth-form-input">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="isRegistering" class="auth-form-input">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="!userDetails.valid" expand="block">
      Submit
    </ion-button>
  </form>
</ion-content>
