.image-thumbnail {
    border-radius: 0.5rem;
}

.song-title {
    padding-bottom: 5px;
}

.song-user {
    color: var(--ion-color-light-contrast);
}

.media-controls {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.song-info {
    font-size: 0.7rem;
}

.song-progress {
    margin-right: 0.5rem;
    width: 100%;
    margin-left: 10px;
}
