<!-- Sliding item with text options on both sides -->
<ion-item-sliding [disabled]="isReplying">
  <ion-item-options side="start">
    <ion-item-option (click)="onReply()"> Reply </ion-item-option>
  </ion-item-options>

  <ion-item
    *ngIf="comment"
    [color]="isPlaying() ? 'light' : undefined"
    [ngClass]="{
      'parent-comment': !comment.parentId && !isOnUserLikesPage && !isReplying,
      'child-comment': comment.parentId && !isOnUserLikesPage && !isReplying
    }"
  >
    <ion-col (click)="onPlay()">
      <ion-row class="comment-meta">
        <span>
          <p class="comment-username">{{ comment.username }}</p>
        </span>

        <span *ngIf="comment.recordingSrc">
          <ion-icon
            class="indicator-icon"
            name="musical-notes-outline"
            color="primary"
          ></ion-icon>
        </span>

        <span
          ><small>{{ comment.createdAt | duration }}</small>
        </span>
      </ion-row>

      <ion-row>
        <ion-label class="ion-text-wrap">
          <p class="comment-text">{{ comment.text }}</p>
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-item>
</ion-item-sliding>
