<ion-item
  *ngIf="comment"
  [color]="isPlaying() ? 'light' : undefined"
  [ngClass]="{
    'parent-comment': !comment.parentId && !isOnUserLikesPage && !isReplying,
    'child-comment': comment.parentId && !isOnUserLikesPage && !isReplying
  }"
>
  <ion-col (click)="onPlay()">
    <ion-row>
      <ion-label class="ion-text-wrap">
        <p class="comment-text">{{ comment.text }}</p>
      </ion-label>
    </ion-row>

    <ion-row class="comment-meta">
      <span>
        <p class="comment-username">{{ comment.username }}</p>
      </span>

      <span *ngIf="comment.recordingSrc">
        <ion-icon
          class="indicator-icon"
          name="musical-notes-outline"
          color="primary"
        ></ion-icon>
      </span>

      <span
        ><small>{{ comment.createdAt | duration }}</small>
      </span>
    </ion-row>
  </ion-col>

  <ion-col
    class="left-margin"
    size="1"
    [hidden]="isReplying || isOnUserLikesPage"
    (click)="onReply()"
  >
    <span>
      <ion-icon name="arrow-redo-outline" color="secondary"></ion-icon>
    </span>
  </ion-col>
</ion-item>
