.action-icon {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.comment-text {
  color: var(--ion-color-light-contrast, #fff);
  padding: 0.25rem;
}

.comment-username {
  color: var(--ion-color-medium, #fff);
}

.comment-footer {
  display: flex;
  justify-content: space-between;
}

.parent-comment {
  border-bottom: 1px solid var(--ion-color-secondary, #fff);
}

.comment-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;

  .comment-meta-header-text {
    display: flex;
    align-items: center;

    .comment-username {
      margin-right: 0.5rem;
      color: var(--ion-color-medium, #fff);
      font-size: 0.8rem;
    }

    .comment-created {
      font-size: 0.8rem;
    }
  }

  .comment-meta-header-icons {
    display: flex;
    align-items: center;

    .comment-meta-header-icon {
      display: flex;
    }

    .comment-meta-song {
      margin-right: 0.5rem;
    }
  }
}

.item-icons {
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-end;
  justify-content: flex-end;
}
