<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="post">{{post.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/posts"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="globalMenuService.displayMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="post">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="image-container">
    <ion-img class="full-image" [src]="post.imageSrc"></ion-img>
  </div>

  <app-add-comment
    [postId]="post.id"
    [parentId]="null"
    (commentAdded)="onAddComment($event)"
  ></app-add-comment>

  <div *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="!isLoading && comments">
    <app-parent-comment
      (commentAdded)="onCommentAdded($event)"
      *ngFor="let parentComment of comments"
      [parentComment]="parentComment"
    ></app-parent-comment>
  </div>
</ion-content>
