<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liked</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/posts"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Spinner if loading -->
  <ion-spinner *ngIf="isLoading"></ion-spinner>

  <ion-list *ngIf="!isLoading && likedComments.length">
    <app-comment *ngFor="let likedComment of likedComments" [comment]="likedComment"></app-comment>
  </ion-list>

  <p *ngIf="!isLoading && !likedComments.length">
    There's nothing here!
  </p>

  <!-- TODO: handle error -->
  
</ion-content>
