.add-comment-card {
  border-radius: 5px;
  margin: 0.5rem;
}

.filename-text {
  align-self: center;
  padding: 1rem;
}

.actions {
  justify-content: space-between;
  padding: 0.5rem;
}

.comment-textarea {
  padding: 0.5rem;
}

.action-button {
  align-self: center;
}
