<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="post">{{post.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/posts"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="post">
  <div class="image-container">
    <ion-img class="full-image" [src]="post.imageSrc.large"></ion-img>
  </div>

  <!-- <ion-item>
    <ion-label class="ion-text-wrap">
      <h2 class="date">
        <ion-note>{{ message.date }}</ion-note>
      </h2>
    </ion-label>
  </ion-item> -->

  <div class="ion-padding upload-button">
    <ion-button expand="block">Upload</ion-button>
  </div>

  <div class="ion-padding">
    <ion-list *ngIf="post">
      <app-comment *ngFor="let comment of getComments()" [comment]="comment"></app-comment>
    </ion-list>
  </div>
</ion-content>
