<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="post">{{post.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/posts"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="post">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="image-container">
    <ion-img class="full-image" [src]="post.imageSrc"></ion-img>
  </div>

  <app-add-comment
    [postId]="post.id"
    [parentId]="null"
    (commentAdded)="onAddComment($event)"
  ></app-add-comment>

  <div *ngIf="comments">
    <app-parent-comment
      *ngFor="let parentComment of comments"
      [parentComment]="parentComment"
    ></app-parent-comment>
  </div>
</ion-content>
