<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="post">{{post.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/posts"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="post">
  <div class="image-container">
    <ion-img class="full-image" [src]="post.imageSrc"></ion-img>
  </div>

  <!-- <ion-item>
    <ion-label class="ion-text-wrap">
      <h2 class="date">
        <ion-note>{{ message.date }}</ion-note>
      </h2>
    </ion-label>
  </ion-item> -->

  <div class="ion-padding add-comment-section">
    <ion-row>
      <ion-col size="10">
        <ion-textarea [(ngModel)]="commentText" rows="4" placeholder="Add a comment..."></ion-textarea>
      </ion-col>
      <ion-col size="2" class="add-comment-send-button">
        <ion-row>
          <ion-label for="comment-file-input"
            ><ion-button (click)="onClickUpload()" size="medium">
              <ion-icon [color]="selectedFile === null ? 'warning' : 'success'" name="attach"></ion-icon>
            </ion-button>
          </ion-label>
          <input
            #fileChooser
            id="comment-file-input"
            type="file"
            accept=".mp3"
            single
          />
        </ion-row>

        <ion-row>
          <ion-button [disabled]="isSendDisabled()" (click)="onAddComment()" size="medium">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div class="ion-padding">
    <ion-list *ngIf="comments">
      <app-comment
        *ngFor="let comment of comments"
        [comment]="comment"
      ></app-comment>
    </ion-list>
  </div>
</ion-content>
