<ion-item
  *ngIf="comment && comment.recordingSrc"
  [color]="isPlaying() ? 'light' : undefined"
  (click)="onPlay()"
  class="audio-comment"
>
  <ion-label class="ion-text-wrap">
    <p class="comment-text">{{ comment.text }}</p>
    <h3 class="username-text">{{ comment.username }}</h3>
  </ion-label>

  <ion-icon *ngIf="downloadState !== 'inProgress'"
    (click)="onDownload()"
    class="download-icon"
    [color]="downloadState === 'none' ? 'primary' : downloadState === 'complete' ? 'success' : 'warning'"
    [name]="comment.recordingSrc ? 'cloud-download-outline' : undefined"
    size="medium"
  ></ion-icon>

  <ion-spinner color="primary" class="download-icon" *ngIf="downloadState === 'inProgress'" name="circles"></ion-spinner>

  <ion-icon
    class="heart-icon"
    [color]="comment.isLiked ? 'danger' : 'secondary'"
    [name]="comment.isLiked ? 'heart' : 'heart-outline'"
    size="medium"
  ></ion-icon>
</ion-item>

<ion-item *ngIf="comment && !comment.recordingSrc">
  <ion-label class="ion-text-wrap">
    <p class="comment-text">{{ comment.text }}</p>
    <div class="comment-footer">
      <span
        ><h3 class="username-text">{{ comment.username }}</h3></span
      >
      <span
        ><small>{{ comment.createdAt | date :'HH:mm:ss - dd/MM/yyyy' }}</small></span
      >
    </div>
  </ion-label>
</ion-item>
