.download-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 0.5rem;
}

.heart-icon {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.comment-text {
    color: white;
}

.comment-username {
    color: grey;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
}

.audio-comment {
    border-bottom: 2px solid  var(--ion-color-primary, #fff);
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-item {
    border-bottom: 1px solid var(--ion-color-secondary, #fff);
}