.action-icon {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.comment-text {
    color: var(--ion-color-step-950, #fff);
}

.comment-username {
    color: var(--ion-color-medium, #fff);
}

.comment-footer {
    display: flex;
    justify-content: space-between;
}

.comment-item-audio-playing {
    border-bottom: 1px solid  var(--ion-color-primary, #fff);
}

.comment-item {
    border-bottom: 1px solid var(--ion-color-secondary, #fff);
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
