<ion-item
  *ngIf="comment"
  [color]="isPlaying() ? 'light' : undefined"
  [ngClass]="{
    'audio-playing': comment.recordingSrc && isPlaying(),
    'parent-comment': !comment.parentId,
    'child-comment': comment.parentId
  }"
>
  <ion-col>
    <ion-row (click)="onPlay()">
      <ion-label class="ion-text-wrap">
        <p class="comment-text">{{ comment.text }}</p>
      </ion-label>
    </ion-row>

    <ion-row class="comment-meta">
      <span>
        <p class="comment-username">{{ comment.user.username }}</p>
      </span>

      <ion-icon
        *ngIf="comment.recordingSrc && downloadState !== 'inProgress'"
        (click)="onDownload()"
        class="action-icon"
        [color]="
          downloadState === 'none'
            ? 'secondary'
            : downloadState === 'complete'
            ? 'success'
            : 'warning'
        "
        [name]="comment.recordingSrc ? 'cloud-download-outline' : undefined"
        size="medium"
      ></ion-icon>

      <ion-spinner
        color="secondary"
        class="action-icon"
        *ngIf="downloadState === 'inProgress'"
        name="dots"
      ></ion-spinner>

      <ion-icon
        *ngIf="comment.recordingSrc"
        class="action-icon"
        [color]="comment.isLiked ? 'danger' : 'secondary'"
        [name]="comment.isLiked ? 'heart' : 'heart-outline'"
        size="medium"
      ></ion-icon>

      <span
        ><small>{{ comment.createdAt | date: "HH:mm:ss - dd/MM/yyyy" }}</small>
      </span>
    </ion-row>
  </ion-col>
</ion-item>
